@charset "utf-8";
@import "variables";

header {
  position: relative;
  padding: 8px;
  border-bottom: 1px solid #000;


  .logo-panel {
      display: inline-block;
      cursor: pointer;

        img.logo {
          vertical-align: middle;
        }

        label{
          font-size: 18px;
          cursor: pointer;
        }
  }

  .channel-panel{
      display: inline-block;
      margin-left: 200px;
      font-size: 18px;

      span.btn{
          margin-right:30px;
          cursor: pointer;

          &:hover{
              color: blue;
          }

          &.active{
              color: red;
          }
      }
  }

  .info-panel{
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 20px;

    span{
        cursor: pointer;
    }

    button{
      margin-left: 20px;
      font-size: 12px;
      border: none;
      background: none;
    }
  }
}
